<%= form_for(resource, as: resource_name, class: "w-96", url: registration_path(resource_name)) do |f| %>

<div class="flex items-center justify-between bg-blue-header p-5 text-white"> 
  <p><a href = "/"><svg class="w-5"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
</svg>          </a></p>
  <h1>SIGNUP</h1>
  <div class="actions">
    <%= f.submit "Next", class: "white"%>
  </div>
</div>
<div  class="w-full flex flex-col h-96 mt-4">

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field ">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full py-3 outline-none border border-t-0 border-x-0 border-inherit ", placeholder: "email"  %>
  </div>
  <div class="field  ">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "w-full py-3 outline-none border border-t-0 border-x-0 border-inherit ", placeholder:"fullname" %>
  </div>
  <div class="field ">
    <%= f.password_field :password, autocomplete: "new-password", class: "w-full py-3 outline-none border border-t-0 border-x-0 border-inherit ", placeholder:"create password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "w-full py-3 outline-none border border-t-0 border-x-0 border-inherit ",placeholder:"Confirm password"  %>
  </div>
<% end %>
</div>