<%= render 'shared/header', heading:'LOGIN'%>
 <div class="w-full flex flex-col mt-8">
  <%= form_for(resource, as: resource_name, class: "w-96", url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full  py-3 outline-none border border-t-0 border-x-0 border-inherit " , placeholder: "Enter your Email"%>
    </div>

    <div class="field ">
      <%= f.password_field :password, autocomplete: "current-password", class: " w-full  py-3 outline-none border border-t-0 border-x-0 border-inherit ", placeholder:"Enter password"%>
    </div>

    <div class="actions">
      <%= f.submit "Log in" , class: "w-full bg-create-button text-white rounded-md  px-4 py-2  cursor-pointer hover:bg-green-500"%>
    </div>
  <% end %>
     <%= link_to "Forgot your password?", new_password_path(resource_name), class:"text-center text-gray-400 mt-2" %>
  </div>


