<%= render 'shared/header', heading:'new payment'%>
  <%= render 'shared/notice'%>
   <div class="w-full flex items-center justify-center px-5 h-96">
        <%=form_with model: @payment, url: category_payments_path(@category),class: "w-96" , local: true do |form| %>
          <div class="mb-1">
            <%= form.text_field :name,class: "w-full rounded-md", placeholder: "Enter item name", required:true%>
            </div>
           <div class="mb-1">
            <%= form.number_field :amount, class: "w-full rounded-md", placeholder: "Enter quantity", required:true%>
            </div>
              <div class="field">
                <%= form.label :category_ids, "Categories" %>
                <% @categories.each do |category| %>
                  <div>
                    <%= form.check_box :category_ids, { multiple: true }, category.id, nil %>
                    <%= form.label "payment_category_ids_#{category.id}", category.name %>
                  </div>
                <% end %>
              </div>

             <div class="col-span-2 mt-3">
            <%= form.submit "Create payment", class: "bg-create-button text-white rounded-md  px-4 py-2  cursor-pointer hover:bg-green-500"%>
            </div>
         <% end %>
 </div>